<div class="container-fluid">
    <div class="row boxes-container posts-container">
        {{#each posts}}
            <div class="col-xs-2">
                <div class="box">
                    <p class="box-category">{{this.category}}</p>
                    <h2 class="box-title"><a href="#/posts/{{this.id}}">{{this.title}}</a></h2>
                    <p class="box-author">Posted by {{this.author}}</p>
                    <p class="box-content">{{this.content}}</p>
                    <div class="box-bottom-border"></div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<div class="container-fluid">
    <div class="row boxes-container">
        <div class="col-1">
            <img src="./images/pagination-left.png" alt="" class="page-img">
        </div>
        <div class="col-10 text-center">
            <span class="i-page-link">1</span>
            <span class="i-page-link">2</span>
            <span class="i-page-link">3</span>
            <span class="i-page-link">4</span>
            <span class="i-page-link">5</span>
        </div>
        <div class="col-1">
            <img src="./images/pagination-right.png" alt="" class="page-img">
        </div>
    </div>
</div>