<div class="current-nav">
    <p><a href="#/">Home</a> >> <a href="#/categories/{{post.category}}?page=1">{{post.category}}</a> >> <a>{{post.title}}</a></p>
</div>
<div class="container-fluid i-padding-reset">
    <div class="row">
        <div class="">
            <div class="current-box">
                <div class="box-top-border"></div>
                <div class="row current-box-children">
                    <div class="col-3 current-box-left">
                        <div class="current-box-image i-push-left">
                            <img src="{{post.imageUrl}}" alt="">
                            <div class="box-category">{{post.category}}</div>
                        </div>
                        <div class="current-box-tags i-push-left">
                            <h2>Tags</h2>
                            <ul>
                                {{#each post.tags}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                            <div class="clear-float"></div>
                        </div>
                        <div class="current-box-related i-push-left">
                            <h2>Related posts</h2>
                            <ul>
                                <li><img role="link" src="./images/li-link.png" alt="Nav link" class="li-link"><span>dog love</span></li>
                                <li><img role="link" src="./images/li-link.png" alt="Nav link" class="li-link"><span>tut mir</span></li>
                                <li><img role="link" src="./images/li-link.png" alt="Nav link" class="li-link"><span>non id</span></li>
                            </ul>
                        </div>
                        <div class="current-box-share i-push-left">
                            <h2>Share this</h2>
                            <ul>
                                <li><a><img role="link" src="./images/share-twitter.png" alt="Twitter Logo"></a></li>
                                <li><a><img role="link" src="./images/share-facebook.png" alt="Facebook Logo"></a></li>
                                <li><a><img role="link" src="./images/share-middle.png" alt="Middle Logo"></a></li>
                                <li><a><img role="link" src="./images/share-digg.png" alt="Digg Logo"></a></li>
                                <li><a><img role="link" src="./images/share-reddit.png" alt="Reddit Logo"></a></li>
                            </ul>
                            <div class="clear-float"></div>
                        </div>
                    </div>
                    <div class="col-9 current-box-right">
                        <h2 class="box-title">{{post.title}}</h2>
                        <p class="box-author">{{post.author}} | Comments {{post.comments.length}}</p>
                        <p class="box-content">{{post.content}}</p>
                    </div>
                </div>
                <div class="box-bottom-border"></div>
            </div>
            <div class="current-box-comments">
                <div class="box-top-border"></div>
                <div>
                    <h2 class="box-title">{{post.comments.length}} Comments</h2>
                </div>
                <div class="comments-container">
                    {{#each post.comments}}
                    <div class="comment">
                        <div class="comment-data">
                            <img src="http://via.placeholder.com/100x100" alt="" class="comment-img">
                            <div class="comment-details">
                                <h2 class="comment-author">{{this.author}}</h2>
                                <p class="comment-content">{{this.content}}</p>
                                <button class="reply-button">REPLY</button>
                            </div>
                        </div>
                        {{#if this.subComments.length}}
                        <div class="subcomments">
                            {{#each this.subComments}}
                            <div class="subcomment">
                                <div class="comment-data">
                                    <img src="http://via.placeholder.com/100x100" alt="" class="comment-img">
                                    <div class="comment-details">
                                        <h2 class="comment-author">{{this.author}}</h2>
                                        <p class="comment-content">{{this.content}}</p>
                                        <button class="reply-button">REPLY</button>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        {{/if}}
                        <br>
                        <br>
                    </div>
                    {{/each}}
                </div>
                <form action="/posts/{{post.id}}/comments/-2" class="comment-form" method="POST">
                    <h2 class="box-title">Leave a comment</h2>
                    <input type="text" placeholder="Nickname" id="form-nickname">
                    <br>
                    <input type="text" placeholder="Avatar url" id="form-avatarUrl">
                    <br>
                    <textarea rows="4" placeholder="Message" id="form-message"></textarea>
                    <br>
                    <button class="submit-button">SUBMIT</button>
                </form>
                <div class="box-bottom-border"></div>
            </div>
        </div>
        <div class="">
            <aside>
                <div class="aside-post aside-box">
                    <ul class="nav-ul">
                        <li aria-selected="tab">
                            <h2 class="aside-title selected-aside-post">Recent</h2>
                        </li>
                        <li>
                            <h2 class="aside-title">Popular</h2>
                        </li>
                        <li>
                            <h2 class="aside-title">Random</h2>
                        </li>
                    </ul>
                    <div class="aside-content">
                        <div class="">
                            {{#each asidePosts}}
                            <div class="content">
                                <img src="{{this.imageUrl}}" alt="{{this.title}}">
                                <div class="content-details">
                                    <h3 class="content-title">{{this.title}}</h3>
                                    <p class="content-date">{{this.author}}</p>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="hidden">
                            {{#each asidePosts}}
                            <div class="content">
                                <img src="{{this.imageUrl}}" alt="{{this.title}}">
                                <div class="content-details">
                                    <h3 class="content-title">{{this.title}}</h3>
                                    <p class="content-date">{{this.author}}</p>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="hidden">
                            <div class="content">
                                <img src="{{randomPost.imageUrl}}" alt="{{randomPost.title}}">
                                <div class="content-details">
                                    <h3 class="content-title">{{randomPost.title}}</h3>
                                    <p class="content-date">{{randomPost.author}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="box-bottom-border"></div>
                    </div>
                </div>
                <div class="aside-widget aside-box">
                    <h2 class="aside-title">Recent posts</h2>
                    <ul>
                        {{#each asidePosts}}
                            <li><img src="./images/li-link.png" alt="" class="li-link"><a href="#/posts/{{this.id}}">{{this.title}}</a></li>
                        {{/each}}
                    </ul>
                    <div class="box-bottom-border"></div>
                </div>
                <div class="aside-widget aside-box">
                    <h2 class="aside-title">Random</h2>
                    <p class="text-content">{{randomPost.content}}</p>
                    <div class="box-bottom-border"></div>
                </div>
            </aside>
        </div>
    </div>
</div>